/* ---------------------------------------------------------------*/
/*                        Body of website                         */
/* ---------------------------------------------------------------*/
*, *::before, *::after {
    box-sizing: border-box;
}


li {
    list-style-type: none;
  }
  

body{
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    
}

/* ---------------------------------------------------------------*/
/*                      End Body of website                       */
/* ---------------------------------------------------------------*/

/* ---------------------------------------------------------------*/
/*                      Start of colours                       */
/* ---------------------------------------------------------------*/


.white{
    background-color:#ffffff ;
}

.black{
    background-color:#000000 ;
}

.grey{
    background-color:#F4F4F4 ;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75); /* Black with 50% opacity */
}

.fa-solid, .fa-regular{
    color: #E93946;
    font-size: 15px;
    /* color: #AE1320 */
}

.social-icons i.fa-brands {
    color: white !important;
    z-index: 1000;
    position: relative;
}


/* ---------------------------------------------------------------*/
/*                      End of colours                            */
/* ---------------------------------------------------------------*/




/* ---------------------------------------------------------------*/
/* ---------------------------------------------------------------*/
/* ----------------- Start of image editing ----------------------*/
img{
   max-width: 500px;
}

/* ----------------- End of image editing ----------------------*/
/* ---------------------------------------------------------------*/
/* ---------------------------------------------------------------*/

.reviewbg {
    background-size: cover;
    position: relative;
    background-image: none;
}

@media (min-width: 601px) {
    .reviewbg {
        background-image: url('Images/Testimonioal-bg.webp');
    }
}

@media (max-width: 600px) {
    .reviewbg {
        display: none;
    }
}

/* ---------------------------------------------------------------*/
/* ---------------------------------------------------------------*/
/* ----------------- Start of containers ----------------------*/
.container, .container-none, .container-top, .container-bottom {
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
}

.container{
    padding-bottom: 1rem;
    padding-top: 1rem;
}


@media (min-width:600px) {
    .container, .container-none, .container-top, .container-bottom {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media (min-width: 1025px) {

    

    .container-none {
        display: flex;
        flex-direction: column;
        padding: 0 6rem;
        margin: auto;
        max-width: 1440px;
    }

    .container-top {
        display: flex;
        flex-direction: column;
        padding: 0 6rem;
        padding-bottom: 3%;
        margin: auto;
        max-width: 1440px;
    }

    .container-bottom {
        display: flex;
        flex-direction: column;
        padding: 0 6rem;
        padding-top: 3%;
        margin: auto;
        max-width: 1440px;
    }

    .container {
        display: flex;
        flex-direction: column;
        padding: 0 6rem;
        padding-bottom: 3%;
        padding-top: 3%;
        max-width: 1440px;
    }
    
}

/* ------------------End of containers ----------------------*/
/* ---------------------------------------------------------------*/
/* ---------------------------------------------------------------*/

/* ---------------------------------------------------------------*/
/* ---------------------------------------------------------------*/
/* --------------------- Typography section ----------------------*/

ul, li {
    padding: 0;
    margin: 0;
}

ol, ul {
    line-height: 2;
    list-style-type: none;
    z-index: 1000;
    text-decoration: none;
}

li {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    z-index: 10000;
    list-style-type: none;
}

p{
    font-weight: 100;
    font-family: 'Open Sans',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    text-decoration: none;
    font-size: 14px;
}

h1, h2, h3, h4, p {
    color: #4B4B4B;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    z-index: 2; 
}

h1{
    font-size: 2.5rem;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
}

h2{
    font-size: 2rem;
    font-weight: lighter;
}

h3{
    font-size: 1.5rem;
}
@media (min-width:1200px) {

h1{
    font-size: 3.5rem;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 2rem;
}
}

h1, h2, h3, h4 {
    font-family: Arial, Helvetica, sans-serif
}



a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    z-index: 1;
    position: relative;
    color:#121212;
}

/* -------------------End of Typography section-------------------*/
/* ---------------------------------------------------------------*/
/* --------------------------------------------------------------*/

.required {
    color: #E93946; /* Same red as your button color for consistency */
    font-size: 16px; /* Adjust size as needed */
}


/* ---------------------------------------------------------------*/
/*                     Button section start                      */
/* --------------------------------------------------------------*/

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px; /* Adjust padding as needed */
    height: auto; /* Lets the button size according to its content and padding */
    background-color: #E93946; /* Red background */
    color: white; /* White text */
    text-decoration: none; /* No underline */
    border: none; /* No border */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
    font-size: 12px; /* Default font size */
    font-weight: normal; /* Default font weight */
}

.button:hover {
    background-color: #ffffff !important; 
    color: #E93946;
}

.bigger-button {
    padding: 15px 45px; /* 15px top and bottom, 45px left and right */
    font-size: 15px; /* Adjust font size */
    font-weight: bold; /* Make font weight bold */
}



.buttons-div {  
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
    flex-direction: row;
 }

 @media (max-width: 700px){
    .buttons-div {  
        margin: 0 auto;
    }
}



button{
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    border-radius: 0;
    appearance: none;
    color: white;
    font-size: 16px;
}

/* Dropdown Button */
  

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative; /* This will be the anchor for the absolute positioned dropdown content */
    display: inline-block; /* Use inline-block for proper alignment with other inline or inline-block elements */
    z-index: 5;
    width: 100%;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 0999;
    min-width: 100%; /* You can set a minimum width or set width to 100% if you want it to match the dropdown button */
    left: 0;
    top: 100%; /* Positions the dropdown content right below the dropdown button */
    width: 100%;

  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    font-weight:100;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    white-space: nowrap; 
    width: 100%;
    font-size: 18px;
}
  
  .dropdown-content a:hover {background-color: #ddd;}
  

  .dropdown:hover .dropdown-content {display: block;}
  
/* ---------------------------------------------------------------*/
/*                     Button section End                    */
/* --------------------------------------------------------------*/


/* ---------------------------------------------------------------*/
/*                     Three benefits start                    */
/* --------------------------------------------------------------*/
.three-benefits {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 12%;
}

.three-benefits img{
    max-height: 90px;
}

.benefits-img {
    max-width: auto;
    max-height: 400px;
}

.credentials{
    font-size: 85px;
    margin-top:-25px;
    color: #BFBFBF;
    margin-bottom: -1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
}
/* ---------------------------------------------------------------*/
/*                     Three benefits end                    */
/* --------------------------------------------------------------*/


/* ---------------------------------------------------------------*/
/*                     Start of Half page sections               */
/* --------------------------------------------------------------*/

.half-page{
    display: flex;
    flex-direction: column;
}

@media (min-width: 700px) {
    .half-page{
        display: flex;
        flex-direction: column; 
        width: 50%;
    }

   .parent-of-half-page{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
    } 

    .parent-of-half-page img{
        max-width: 500px;
    }

    .reverse-parent{
        display: flex;
        flex-direction: row-reverse;
    }
}
/* ---------------------------------------------------------------*/
/*                     End of Half page sections                 */
/* --------------------------------------------------------------*/

/* ---------------------------------------------------------------*/
/*                     Start of Middle align                     */
/* --------------------------------------------------------------*/

.middle-align {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    /* border: #000 2px solid; */
}

.middle-align-course {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

.middle-align h2, .middle-align p{
    width: 75%;
    margin: 0 auto;

}
.industry{
    padding-top: 5rem;
}

.industry p{
    padding-bottom: 4rem;
    padding-top: 2rem;
}

@media(max-width: 900px){
    .middle-align{
        padding-top: 3rem;
        width: 100%;
    }
    .middle-align h2{
        font-size: 28px;
        width: 100%;
    }

    .middle-align p{
        width: 100%;
        margin: 0 auto;
    }
}

.middle-align img {
    vertical-align: middle;
}



@media (min-width: 1025px) {
    .middle {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

/* ---------------------------------------------------------------*/
/*                     End of Middle align                     */
/* --------------------------------------------------------------*/

.email-link {
    color: #0070B9 !important;
    text-decoration: none;
    transition: color 0.1s;
}

.email-link:hover {
    color: grey !important;
}




/* ---------------------------------------------------------------*/
/* ---------------------------------------------------------------*/
/* ------------------Start of Header Section ----------------------*/

.toggle-holder {
    display: flex;
    align-items: center; /* Vertically center */
    justify-content: center; /* Horizontally center */
    margin: 20px; /* Added some margin for visibility */
    padding: 0; /* Remove default padding */
    font-size: 12px;
}

.toggle-wrapper {
    position: relative;
    width: 60px; /* Adjusted width for a tighter toggle */
    margin: 0 10px; /* Space between labels and the toggle */
   
}




.custom-toggle-switch {
    width: 60px;
    height: 30px;
    background-color: grey;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
}

.switch-circle {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: left 0.3s;
}

.custom-toggle-switch.active {
    background-color: black;
}

.custom-toggle-switch.active .switch-circle {
    left: 30px; /* Move the circle to the right when active */
}


.containerHeader{
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (min-width:600px) {
    .containerHeader {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}


/* Base state: all .hide-mob elements are hidden when the screen is less than 1200px */
.hidemob {
    display: none;
    font-weight: lighter;
    font-size: 14px;
   
}

/* Above 1200px, .hide-mob elements are visible */
@media (min-width: 1200px) {
    .hidemob {
        display: block;
        display: flex;
        gap: 32px;
    }
}


/* Styles for .containerHeader at different screen widths */
@media (min-width: 1025px) {
    .containerHeader {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 6rem;
        margin: auto;
        max-width: 1440px;
    }
}


.header-link{
    /* border: #000 1px solid; */
    padding: 1rem 0.75rem;
    font-size: 12px;
    font-weight: normal;
    color: #121212;
}

.header-link.active,.header-link:hover{
    background-color: #F4F4F4;
    cursor: pointer;
}




.logo {
    padding-top: 20px;
}



.top-nav{
   background-color: #000;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
 } 


 .top-nav-two{
    display: flex;
    justify-content: space-between;
 }
/* 
 .top-nav img{
    
    height: 20px;
 } */

 .top-nav p, .top-nav a {
    color: white;
}

.whitetext p, .whitetext a, .whitetext h1,.whitetext h2, .whitetext h3, .whitetext h4 {
    color: white;
}

.top-nav img{
    height: auto;
    width: 80px;
}


.centre-img {
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
}

.navbar {
    min-height: 90px;
    display: flex;
    justify-content: space-between;
    flex-direction:row;
    align-items: center;
    position: relative;
    width: 100%;
}

.navbar img {
    max-width: 200px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.nav-menu.active {
    left: 0;
}

.nav-branding {
    font-size: 2rem;
}



.nav-link {
    transition: 0.7s ease;
    cursor: pointer;
}

.nav-link:hover {
    color: #54C1AE;
}

.hamburger {
    display: none;
    z-index: 100;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #000000;
    transition: all 0.3s ease-in-out;
}

.icon {
    max-width: 100%;
    height: auto;
}

.headericon{
    display: none;
}

@media(min-width: 700px){
   .headericon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: lighter;
    gap: 12px;
   }
}


/* Header tablet */
@media (max-width: 1200px) {
    .hamburger {
        display: block;
        padding-right: 32px;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }  

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 180px; 
        flex-direction: column;
        background-color: #F2F2F2;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 1000;
        padding: 2% 0 ;
        gap: 1rem;
    }



  
    .nav-item :hover{
        background-color: #646464;
    }
}

/* Most phones (For screens smaller than 600px) */
@media (max-width: 600px) {
    /* If you have specific styles for phones, place them here */
}

/* ------------------End of Header Section ----------------------*/
/* ---------------------------------------------------------------*/
/* ---------------------------------------------------------------*/

.hero {
    background-image: url('Images/backdrop.webp');
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; /* Ensures the image is centered */
    height: 75vh;
    display: flex;
    width: 100%; /* Ensure the width is 100% */
}

.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75); /* Adjust the colour and transparency as needed */
    z-index: 2;
}

/* Media query for mobile devices */
@media (max-width: 600px) {
    .hero {
        background-image: none; /* Remove background image on mobile */
        background-color: black; /* Set black background color */
    }
}


.hero .container {
    position: relative;
    z-index: 2;
}



.hero h1, .hero p{
    color: white;
}

.hero a{
    margin-top: 50px;
}

@media (max-width: 350px){
    .hero{
        height: 100vh
       }
}

@media (max-width: 600px) {
    /* If you have specific styles for phones, place them here */


    .hero h1{
        font-size: 30px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .hero .container p:first-of-type {
        font-size: 10px; 
        letter-spacing: 1pt; 
        font-weight: 100; 
        margin-bottom: -24px;
    }

    .hero .container p:last-of-type {
        margin-top: -24px;
    }

    .hero a{
        margin-top: 24px;
    }

    .qualifications h2{
        font-size: 20px;
    }
}



.black {
    overflow: hidden; /* Hide the overflowing part of inner content */
}

.blackbg{
    background-color: black;
}

.qualifications p, 
.qualifications h1, 
.qualifications h2, 
.qualifications h3, 
.qualifications h4, 
.qualifications h5, 
.qualifications h6 {
    color: white;
}




.logo-wrapper {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    align-items: center;
    padding: 2% 0;
    justify-content: space-between;
}

.logo-wrapper img {
    height: auto;
    width: 12%;
}

@media (min-width: 650px) {
    .logo-section img {
        width: 100%;

    }
}


.email-form{
    gap: 16px;
    display: flex;
    flex-direction: column;
  }



.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-row img{
    max-width: 150px;

}

footer p, footer a, footer h3, footer h4, footer ul, footer img {
    color: white;
}

footer img{
    width: 100px;
    z-index: 1000;
    position: relative;
}

.iceni-container {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 10px; /* Adjust the gap size as needed */
    align-items: center; /* Centers the items vertically */
}

.iceni-container p {
    margin: 0; /* Removes default margin from the paragraph if desired */
}




.payLater{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px;
}




footer p, footer a {
    font-size: 14px;
}

footer h1, footer h2, footer h3, footer h4{
    font-size: 16px;
}

footer p:hover,
footer a:hover
{
    color: rgb(255, 255, 255);
    animation: fadeIn 2s ease-in-out ;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    
}

.gallery-grid .image-wrapper {
    padding: 10px; /* Adjust this value for desired padding */
    display: flex;
    aspect-ratio: 1 / 1; 
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 2px solid #000;
    height: 100%; /* Ensure the wrapper fills the entire grid cell */
}

.gallery-grid img {
    height: 80%;
 
    object-fit: cover; /* This ensures the image covers the entire space without distortion */
}

  @media (min-width:1025px){
    .namebox{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 16px;
      }
  
      .name-box{
        width: 48%;
      }

      .name-group{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
      }
  }

  .footer-nav{
    justify-content: space-between;
    width: 100%;
  }

  @media (min-width:1200px){
    .footer-nav{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
    }
    .gallery-grid {
        grid-template-columns: repeat(4, 1fr);
    }
    
  }

/* ------------------Start of about Section ----------------------*/
/* ---------------------------------------------------------------*/
/* ---------------------------------------------------------------*/


.about-intro{
    padding-top: 24px;
    padding-bottom:24px;
}
/* ------------------End of about Section ----------------------*/
/* ---------------------------------------------------------------*/
/* ---------------------------------------------------------------*/

  /* Testimonial Box */


.testimonialbox {
    margin: 5%;
    max-width: 1235px;
    box-shadow: 5px 5px 25px 25px rgba(0, 0, 0, 0.25);
    position: relative;
    background-color: #F2F3F5;
    z-index: 2;
}

.testimonialbox h3{
    font-weight: 100;
}

.testimonialbox p{
    color: #7A7A7A;
    font-size: 16px;
}

.testimonial-reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto; /* Helps center the container if not full-width */
  }

.testimonial-reviews h4{
    font-weight: lighter;
    font-size: 24px;
}
  
  .review-person {
    display: flex;
    justify-content: center; /* Center horizontally inside the review-person */
    align-items: center; /* Center vertically */
    gap: 10px; /* Space between the image and the text container */
    width: 100%; /* Take full width to utilize flex properties effectively */
  }

  .review-content{
    background-color: white;
    padding: 2rem;
    color: #7A7A7A;
    font-size: 16px;
  }
  
  .testimonial-name {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the child elements (name and date) */
  }



.testimonial-image {
    width: 100px;           /* Set the width of the image */
    height: 100px;          /* Set the height of the image */
    border-radius: 50%;    /* Make the image round */
    border: 2px solid #ccc; /* Slight grey border */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Small drop shadow */
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .arrow {
    color: black; /* Ensures visibility against a lighter background */
    position: absolute; /* Positions arrows relative to their nearest positioned ancestor */
    top: 50%; /* Centers vertically */
    transform: translateY(-50%); /* Aligns arrow perfectly centered to the height */
    font-size: 24px; /* Increase size for better visibility on mobile */
    cursor: pointer; /* Indicates they are clickable */
    z-index: 3; /* Ensures they are above other elements */
}

#leftarrow {
    left: 10px; /* Position from the left */
}

#rightarrow {
    right: 10px; /* Position from the right */
}

@media (max-width: 768px) {
    .arrow {
        font-size: 18px; /* Slightly smaller arrows for smaller screens */
    }
}


#fred {
    display: none;
}

#james {
    display: none;
}

#ryan {
    display: none;
}


#why-me {
    padding: 10px 20px;
}

@media(min-width:600px){
    #why-me {
        padding: 40px 75px;
    }
}

.testimonial-content {
    padding: 1% ;
    width: 100%;
    margin: 0 auto;
}

@media(min-width:650px){
    .testimonial-content {
        padding: 5% 0;
    }
}

img[src="Images/leftarrow.webp"],
img[src="Images/rightarrow.webp"] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: none; /* bring back when Luke gets more testemonials */
}

img[src="Images/leftarrow.png"] {
    left: 1rem;
}

img[src="Images/rightarrow.png"] {
    right: 1rem;
}

/* Contact Section Styles */
.contact {
    background-image: url('Images/home-contact-bg.jpg');
    background-size: cover;
    position: relative;
}

/* Default styles for mobile */
.contact-container {
    width: 100%;
    padding: 1rem; /* Adds padding to left and right, consistent with other containers */
    margin: 0 auto; /* Centers the container */
}

/* Media query for tablets and above (starting at 600px) */
@media (min-width: 600px) {
    .contact-container {
        padding: 1rem 3rem; /* Increases left and right padding */
    }
}

/* Media query for monitors (starting at 1025px) */
@media (min-width: 1025px) {
    .contact-container {
        width: 50%; /* Adjusts width on larger screens */
        padding: 1rem 6rem; /* Increases padding for alignment */
        margin: auto; /* Centers the container */
        max-width: 1440px; /* Limits the maximum width */
    }
}

/* Base styles for contact info */
.contact-info {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Spacing between form elements */
}

/* Adjust layout on larger screens */
@media (min-width: 1024px) {
    .contact-info {
        flex-direction: row;
        justify-content: space-between;
    }
    .contact-info .form-group {
        flex: 1; /* Each form group takes up equal space */
        margin-right: 10px; /* Adds spacing between form groups */
    }
    .contact-info .form-group:last-child {
        margin-right: 0; /* Removes margin from the last form group */
    }
}

/* Additional padding for the section */
.contact-padding {
    padding-bottom: 50px;
}

/* Text color for headings and paragraphs */
.contact h2, .contact p {
    color: white;
    z-index: 100;
}

/* Form styling */
form {
    font-family: Arial, sans-serif;
    position: relative;
    z-index: 2;
}

/* Label styles with more specific selectors */
.contact-info label {
    color: white;
    display: block; /* Makes labels block elements */
    margin-bottom: 8px; /* Space below labels */
    margin-top: 8px;
}

/* Input and textarea styles */
.contact-info input,
.contact-info textarea {
    width: 100%;
    border-radius: 3px;
    border: 1px solid white;
    background: transparent;
    padding: 8px; /* Padding inside input fields */
    color: white;
    height: 48px; /* Standard height for inputs */
}

/* Specific styles for textarea */
.contact-info textarea {
    padding-top: 16px; /* Additional top padding */
    height: auto; /* Height adjusts based on content */
}


/* Placeholder Styles */
::placeholder { /* Most modern browsers */
    color: white;
    opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer */
    color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}

/* Email Form Styles */
.email-form {
    gap: 16px;
    display: flex;
    flex-direction: column;
}

/* Footer Styles */

/* @media (min-width:700px) {
    footer {
        border-top: white 1px solid;
        background-image: url('Images/footer.jpg');
        background-size: cover;
        position: relative;
        color: white;
    } */

footer {
    background-image: url('Images/footer.jpg');
    background-size: cover;
    position: relative;
    color: white;
}

.footer-break {
    border: #A2A2A1 0.1px dotted;
    position: relative;
    z-index: 2;
}


.payLater img {
    
    display: block; /* Ensures images are treated as block elements, allowing margin auto to work */
}


@media (max-width: 1199px) {
    .footer {
        text-align: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .footer-nav {
        width: 100%; /* Ensures the footer-nav takes full width */
    }
    .footer-nav > div, .payLater {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

/* FAQ page */
.accordion-content {
    display: none;
}


.accordion-content p {
    color: #646464;
}

.accordion-item{
    display: flex;
    align-items: center;      /* Vertically center */
    height: 50px;
    font-size: 18px;
}

.accordion-section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2.5% 0;
}

.accordion{
    padding: 1em;
    background-color: white;
    border-radius: 18px;
    box-shadow: 0px 5px 16px 0px rgba(8, 15, 52, 0.06);
    cursor: pointer;
    transition: border 0.5s;
}

.accordion-item-active {
    border: 2px solid #AE1320;
}


/*----------------------------------*/
/*------------Courses---------------*/
/*----------------------------------*/
.single-course{
    text-align: center;
    padding: 1%;
}



.course-price{
    font-size: 60px;
    font-weight: 700;
    margin-top: -20px;
    margin-bottom: 0px;
    padding: 0;
}

.main-courses{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

@media (min-width: 1000px){
.main-courses{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
}

#monthly{
    display: flex;
}

#yearly{
    display: none;
}

.courses-list{
    padding-bottom: 8px;
}



.holder{
    display: flex;
    align-items: center; /* Vertically center */
    justify-content: center; /* Horizontally center */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    padding-top: 20px;
    padding-bottom: 20px;
}

.toggle-container {
    position: relative;
    width: 200px;
}

.toggle-switch {
    width: 60px;
    height: 30px;
    background-color: grey;
    border-radius: 15px;
    position: relative;
    margin: 0 auto;
    cursor: pointer;
    transition: background-color 0.3s;
    
}

.grey-bg{
    background-color: #F2F3F5;
}

.switch-circle {
    width: 30px;
    height: 30px;
    background-color: #bdbdbd;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: left 0.3s;
}

.toggle-switch.active {
    background-color: black;
}

.toggle-switch.active .switch-circle {
    left: 30px;
}


.course{ 
    padding: 2rem;
}



.two-way-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
 
}

@media (min-width:1000px){
    .two-way-grid{
        grid-template-columns: repeat(2, 1fr);
    }

}

.tutor-img{
    width: 50%;
}

.tutor-img img{
    width: 100%;
}

.tutorinfotext{
    width: 75%;
}

.tutor-grid{
    display: flex;
    border: 1px solid #ccc;
    background-color: rgb(0, 0, 0);
    flex-direction: column;
    width: 100%;
    padding: 2rem;
}

.tutor-text{
    font-size: 14px;
    font-weight: 100;
}

.tutor-info{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.tutor-info h3, h4{
    font-weight: lighter;
}

.tutor-info h4{
    letter-spacing: 5px;
    margin-top: -20px;
}


.course-grid{
    display: flex;
    border: 1px solid #ccc;
    background-color: rgb(0, 0, 0);
    flex-direction: column;
    width: 100%;
    padding: 2rem;
    align-items: center;
}

.course-grid img{
    width: 100%;
}


.course-grid p, .course-grid h3 { color: white; }

.levels {
    color: white;
    padding: 1rem 0 1rem 0;
    margin: 1rem 0 1rem 0;
}

.buttons-course{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.buttons-course-upper {
    display: flex;
    margin-bottom: 1rem;
    gap: 1rem;
    width: 100%;
    justify-content: space-between; 
}

.buttons-course-upper a{
    width: 100%;
}

.paymentdropdown{
    display: flex;
    width: 100%;
}

@media (max-width: 750px) {
    .course-grid {
        flex-direction: column; /* Stacks the grid elements vertically */
    }
    
    .middle-align-course, .buttons-course, .buttons-course-upper {
        width: 100%; /* Ensures full width */
    }
    
    .buttons-course {
        flex-direction: column; /* Stacks buttons vertically */
    }

    .buttons-course-upper {
        flex-direction: column; /* Adjusts upper button group to stack vertically */
    }
    
    .dropdown-content {
        position: absolute; /* Keeps dropdown content positioned correctly */
        width: 100%; /* Full width for dropdown items */
    }

    .buttoncourse, .dropdown a {
        width: 100%; /* Full width for all button links */
    }
}



.cv{
    border: 1px solid white;
    width: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
}



.cell{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-align: center;
    font-weight: 100;
    padding-top: 40px ;
    padding-bottom: 40px;
}

.cell p{
    color: #7A7A7A;
    font-weight: 100;
}

.cell i{
    font-size: 40px;
}


.credential{
    color: black;
    letter-spacing: 5px;
}


.grid-container-two {
    display: none;
}

@media (min-width: 800px){
    .grid-container-two {
        grid-template-columns: repeat(3, 1fr); /* 3 columns each taking 1 fraction of the space */
        grid-template-rows: auto; /* automatically adjusts the row height to fit the content */
        margin: auto;
        display: grid;
        justify-content: space-between; /* adds space between grid items */
        width: 100%; /* ensures the grid uses full width available */
    }
}
.grid-container {
    display: grid;
    width: 100%;
    margin: 0 auto;
}

.grid-container h4{
    color: #000;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
}

/* @media (min-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    
    }
} */

@media (min-width: 800px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        /* Assuming you want each cell to adjust its height automatically */
        /* grid-template-rows is removed or set properly if needed */
        gap: 60px;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .cell{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        text-align: center;
        font-weight: 100;
        padding-top: 0 ;
        padding-bottom: 0;
    }
}

.imagegrid-container {
    display: grid;
    grid-template-rows: repeat(1fr);
    gap: 2rem;
}


@media (min-width: 1200px) {
    .imagegrid-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1fr);
    }
}

.imagegrid-container img{
    border: 2px black solid
}

.social-media{
    text-align: center;
    padding-top: 2rem;
}

.social-media p{
    color: #7A7A7A;
    line-height: 2;
}

.social-media h2{
    color: #000;
}

@media(min-width:600px){
    .social-media{
        text-align:start;
    }
}

.footer-logo{
    display: flex; 
    flex-direction: row;
    position: relative;
    z-index: 2;
}

/* Blogs */

/* Grid layout applied to #inject-blog for displaying blog posts */
#inject-blog {
    display: grid;
    grid-template-columns: 1fr; /* Default to 1 column for smaller screens */
    gap: 20px; /* Gap between grid items */
    padding: 20px; /* Adds some space around the grid */
    justify-content: space-between; /* Aligns items to the edges of the grid container */
}

@media (min-width: 768px) {
    #inject-blog {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Sets up two columns */
        justify-content: space-between; /* Spreads the columns across the full width of the container */
        gap: 40px 60px; /* Sets the gaps between rows and columns */
        width: 100%; /* Ensures the container takes full width */
    }
}



  
/* Overall blog post preview container adjustments for shadow and border radius */

/* Styling for the image container to ensure images are displayed properly */
.blog-post-image-wrapper {
    width: 100%;
    height: 250px; /* or adjust based on your design */
    overflow: hidden;
    position: relative;
}

.blog-post-image-wrapper img {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto; /* Change to 'auto' for natural height adjustment */
    object-fit: cover; /* Adjust if necessary */
    position: absolute;
    top: 0;
    left: 0;
}




.category-label {
    position: absolute;
    top: 10px; /* Adjust as ngeeded */
    right: 10px; /* Adjust as needed  */
    background-color: #E93947; /* Deep red background color */
    color: white !important;
    padding: 8px 20px ; /* Padding adjusted for a better oval look */
    border-radius: 25px; /* Rounded corners for an oval shape */
    font-size: 0.9rem; /* Consistent font size */
    z-index: 100; /* Keeps the label above other elements */
    white-space: nowrap; /* Prevents the text from wrapping onto multiple lines */
    display: flex; /* Enables flexbox properties */
    align-items: center !important; /* Centers the content vertically within the container */
    justify-content: center ; /* Centers the content horizontally within the container */
}


  
/* Overall blog post preview container adjustments for shadow and border radius */
.blog-post-preview {
    background-color: #ffffff;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Shadow for 3D effect */
    overflow: hidden;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%; /* Adjust based on your grid or container size */
    margin-bottom: 20px; /* Space between blog posts */
    position: relative; /* Needed for absolute positioning of the category label */
}




/* Text styling for headlines and paragraphs */
.blog-post-preview h2, .blog-post-preview p {
    margin: 0;
    padding: 0 20px 10px; /* Padding around text */
}

.blog-post-preview h2 {
    font-size: 1.5rem; /* Larger text for headings */
    color: #333; /* Dark grey for text for better readability */
}

.blog-post-preview p {
    font-size: 0.9rem; /* Smaller text for details */
    color: #666; /* Lighter text color for meta details */
}

/* Link styling to remove underline and color inheriting */
.blog-post-preview a {
    color: inherit;
    text-decoration: none;
    display: block;
}

/* Adjustments for specific sections within the blog layout */
#blog {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* Layout styles for the blog content and sidebar */
.containerblog {
    display: flex;
    flex-direction: row;
    gap: 30px; /* Space between blog content and sidebar */
}

#blog-content {
    flex: 2; /* Blog content takes up 2/3 of the space */
}

  
  #sidebar {
    flex: 1; /* Sidebar takes up 1/3 of the space */
    position: sticky;
    height: 100%;
    top: 0; /* Adjust based on your header's height if there is one */
    overflow-y: auto; /* Allows scrolling within the sidebar if content exceeds viewport height */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Adds a subtle drop shadow */
    /* Additional styling for better appearance */
    padding: 20px; /* Adds some padding inside the sidebar for content */
    margin-left: 20px; /* Ensures the shadow does not touch the main content */
    background-color: #fff; /* Optional: sets background color to white */
  }
  
  @media (max-width: 1024px) {
    .containerblog {
      flex-direction: column;
    }
  
    #sidebar {
      display: none;
    }
  }
  

.swiper {
    position: relative; /* Ensure the position is relative for absolute children */
    width: 100%;
    display: flex;
    align-items: center;
    height: 200px;
    margin-bottom: 16px ;
}


.swiper-slide {
    display: flex; /* Use flexbox for slide alignment */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
  
}

.swiper-slide img {
    max-width: 200px; /* Adjust width as necessary, could use max-width instead */
    max-height: 100%; /* Ensure the image fits within the slide */
}

@media(max-width:600px){
    .swiper-slide img {
        max-width: 75px; /* Adjust width as necessary, could use max-width instead */
        max-height: 100%; /* Ensure the image fits within the slide */
    }

    .swiper {
        height: 100px;
    }


}

.swiper-wrapper :hover {
    cursor: pointer;  /* Hand cursor when hovering */
}

.swiper-wrapper :active {
    cursor: grabbing;  /* Grabbing cursor when clicking and holding */
}

.swiper3 .swiper-slide img {
    max-width: 100%; /* Adjust width as necessary, could use max-width instead */
    max-height: 100%; /* Ensure the image fits within the slide */
}

/* Navigation buttons should be positioned relative to the swiper container */
.swiper-button-prev, .swiper-button-next {
    color: #fff;
    background: none;
    outline: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.swiper-button-prev {
    left: 10px;
}

.swiper-button-next {
    right: 10px;
}

.swiper-pagination-bullet {
    background: white ; /* Forces the styling to take precedence */
}

.swiper-pagination-bullet-active {
    background: white;
    opacity: 1 ;
}

/* Styles for all bullets in swiper3 */
.swiper3 .swiper-pagination-bullet {
    background: #333; /* Dark grey for better visibility on light backgrounds */
    opacity: 0.6; /* Slightly transparent when not active */
}

/* Styles for the active bullet in swiper3 */
.swiper3 .swiper-pagination-bullet-active {
    background: #000; /* Black for active bullet */
    opacity: 1; /* Fully opaque when active */
}

/*  */


